<%= @post.title %>
<%= @post.content %>

<ul>
<% @post.categories.each do |cat| %>
  <li><%= cat.name %></li>
<% end %>
</ul>

<ul>
<% @post.comments.each do |com| %>
  <li><%= com.name %></li>
<% end %>
</ul>
